version: '3.8'

services:
  # 1. API SERVER
  web:
    build: .
    # Vì Dockerfile đã copy src ra ngoài /app, nên chạy thẳng main:app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      # Map folder src ở máy thật vào /app ở Docker để sửa code là nhận luôn
      - ./src:/app
    ports:
      - "8000:8000"
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      # Quan trọng: Để Docker gọi được Ollama đang chạy trên Windows
      - OLLAMA_BASE_URL=http://host.docker.internal:11434 
    depends_on:
      - redis

  # 2. WORKER (CELERY)
  worker:
    build: .
    # Trên Linux không cần --pool=solo
    command: celery -A app.worker.celery_app worker --loglevel=info
    volumes:
      - ./src:/app
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
    depends_on:
      - redis

  # 3. REDIS
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"