fastapi
uvicorn
python-multipart    
langchain
langchain-ollama
langchain-core
langchain-community
pypdf               
pdf2image         
pytesseract         
python-docx        
Pillow              
celery
redis
eventlet       
pymupdf            
sentence-transformers 
scikit-learn        